html
  head
    title Weather App
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    block scripts
  body
    .header
      a.title(href="/") Weather App
    .content 
      block content 

