$row-width: 41vw;

.coords {
  display: inline-flex;
  border: white $border-weight solid;
  border-radius: $border-radius;

  padding: 0.4em 0.6em;
  margin: 0.2em auto;

  flex-direction: column;
  justify-content: center;

  .city {
    text-align: center;
    font-weight: $fw-bold;
    font-size: 1.25em;
  }

  .lat,
  .long {
    font-weight: $fw-reg;
    margin: 0 0.5em;

    span {
      font-weight: $fw-xlight;
    }
  }
}

.floating-btns {
  position: fixed;
  bottom: 1.5vw;
  right: 2vw;

  .btn {
    width: 2em;
    height: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $secondary;
    border-radius: $border-radius;

    color: $bkg-color;

    font-weight: $fw-bold;
    font-size: 3em;

    margin: .5rem 0;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: $secondary-dark;
    }
  }
}

.main {
  font-weight: $fw-bold;
  font-size: 4em;
  margin: 0.5rem 0 0.2rem;

  .weather {
    display: inline-block;
    background: $accent;
    padding: 0.2em 0.4em;

    color: $bkg-color;

    border-radius: $border-radius;
  }
}

.card-row {
  margin: 0 auto;
  width: $row-width;
  display: flex;

  justify-content: space-between;
}

.row {
  border: white $border-weight solid;
  border-radius: $border-radius;

  box-sizing: border-box;

  width: $row-width;

  margin: .5em auto;
  padding: 1em 0;
}

.card {
  display: inline-flex;
  border: white $border-weight solid;
  border-radius: $border-radius;

  margin: 0.5rem 0;

  flex-direction: column;
  justify-content: center;

  width: 7em;
  height: 9em;

  font-size: 1.8vw;

  &.highlight {
    border-color: $accent;
    //background: $secondary;

    * {
      color: $accent;
    }
  }

  .material-icons {
    font-size: 4em;
  }

  .text {
    font-weight: $fw-bold;
    font-size: 1.5em;
  }

  .label {
    font-weight: $fw-light;
  }
}

.line {
  display: inline-flex;
  align-items: center;

  font-size: 2em;
  margin: .02em 0;

  width: 70%; 
  justify-content: space-between;

  span {
    margin: 0 .25em;

    &.material-icons {
      font-size: 1.4em;
    }

    &.label {
      font-weight: $fw-bold;  
    }

    &:not(.material-icons) {
      margin-top: -.15em; // Font is slightly not vertically centered
    }
  }
}